<div class="card">
  <div class="card-body">
    <h5 class="card-title">Rooms for <%= @hotel.name %>:</h5>
    
    <%= form_tag("/search_rooms?hotel_id=6", :class=> "form-inline", :method => "POST") do %>
      <div class="form-group mb-2">
        <label for="checkin_date" class="">Checkin date</label>
        <div class='input-group date' id='checkin_date'>
            <input type='text' class="form-control" id="get_in_date" name="get_in_date" <% if session[:checkin_date] && session[:checkin_date] != "" %> value=<%= session[:checkin_date] %> <% end %> placeholder="Check-in Date" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="checkout_date" class="">Checkout date</label>
        <div class='input-group date' id='checkout_date'>
            <input type='text' class="form-control" id="get_out_date" name="get_out_date" <% if session[:checkout_date] && session[:checkout_date] != "" %> value=<%= session[:checkout_date] %> <% end %> placeholder="Check-out Date"  />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="number_of_guests" class="">Number of Guests</label>
        <input type="text" class="form-control" id="number_of_guests" name="number_of_guests" <% if session[:number_of_guests] && session[:number_of_guests] != "" %> value=<%= session[:number_of_guests] %> <% end %>placeholder="Number of guests">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button> 
        
    <% end %>
    <%= link_to "View all hotels", "welcome/search" %>
  </div>
</div>
  <% @rooms.each do |room| %>



  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid" src="/assets/<%= room.hotel.name %>.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4"><%= room.name %></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            <h3>RM <%= room.price %></h3>
            <%= form_with model: @booking, :class => 'w-full max-w-sm' do |f| %>
              <%= f.hidden_field :checkin_date, :value => session[:checkin_date] %>
              <%= f.hidden_field :checkout_date, :value => session[:checkout_date] %>
              <% if current_user && current_user.id != "" %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <% else %>
                <%= f.hidden_field :user_id, :value => "" %>
              <% end %>
              <%= f.hidden_field :room_id, :value => room.id %>
              <%= f.hidden_field :amount, :value => room.price %>
              <%= f.submit 'Book Your Room', :class => "btn btn-primary mb-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

<% end %>

  

  
